.intro {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-align: center;
  white-space:nowrap;
}

.introSubtext {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: 95px;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  opacity: 0;
  white-space:nowrap;
}

.animatedBox{
  border-style:solid;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  width:0px;
  height:0px;
  text-align: center;
  border-width:0 1px 0 1px;
}

.thickBorder{
  border: solid white;
  border-width: 0 265px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  width:0;
  height:150px;
  text-align: center;
}
