body{
  font-family: 'Roboto', sans-serif;
  font-variant: normal;
  font-weight: 100;
}

h3{
  text-align: left;
  margin: 8px 0 3px;
}

h4{
  text-align: left;
  margin: 0;
}

p{
  text-align: left;
  margin: 8px 0;
}

a {
  color: black;
  text-decoration: none;
}

.header{
  width:99%;
  height:75px;
  border-width: 0 0 1px 0;
  border-style:solid;
  margin:auto;
}

.headerButton{
  transition: all 0.2s ease-in-out;
  width:24%;
  text-align: center;
  display: inline-block;
  padding-top: 18px;
  font-size: 30px;
  margin:auto;
}

.headerButton:hover{
  color:rgb(204,0,0);
}

.inline {
  text-align: center;
}

.header2 {
  position: relative;
  min-height: 340px;
}

.header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.projectWindow{
  margin: 80px 2% 80px;
  width: 300px;
  height: 550px;
  display: inline-block;
  vertical-align: top;
}

.projectImage{
  height: 200px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
}

.projectDescription{
  display: table;
  width: 280px;
  height: 350px;
  margin-top: 40px;
  padding: 0 10px 0 10px;
  border-style: solid;
  border-width: 1px;
  text-align: left;

}