body{
	background-color:LightGray;
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
	font-weight: 100;
}

h1 {
	font-size: 64px;
	margin:0;
}

h2 {
	font-size: 24px;
	margin: -5px 3px -15px;
	font-weight:300;
}

h3-100 {
	font-size: 20px;
	margin:0px;
}

h3 {
	font-size: 20px;
	margin:0px;
	font-weight:100;

}

h4 {
	font-size: 26px;
	font-weight:400;
}

h5 {
	transition: font-size 0.3s ease-in-out;
	font-size: 19px;
	font-weight:400;
}

h6 {
	transition: font-size 0.3s ease-in-out;
	font-size: 14px;
	font-weight:300;
}

a:link {
	text-decoration: none;
	color:inherit;
}

a:visited {
	text-decoration: none;
	color:inherit;
}

a:hover {
	text-decoration: underline;
}

.header_area{
	width:90%;
	margin: 30px auto 10px;
	height:110px;
}

.border{
	max-width: 1280px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	background-color:white;
}

.language_box{
	position:sticky;
	top: 0px;
	margin:auto;
	background-color:white;
	text-align:center;
	padding: 4px;	
	left: 0;
	right: 0;
	width:inherit;
}

.content_area{
	padding-bottom:20px;
}

.content_box{
	width:90%;
	margin:auto;
	font-weight:100;
	text-align:left;
}

.inline1{
	display:inline-block;
	vertical-align:top;
	margin: 0px 10px;
}

.align_left {
	float: left;
}

.align_right{
	float:right;
}

.header_right {
	text-align: right;
	right:0;
	top:26px;
	position:relative;
}

.box{
	transition: background-color 0.3s ease-in-out;
	display:inline-block;
	width:90px;
	border-style: solid;
	border-width: 1px;
	padding: 7px;
	margin:7px 1px;
	border-color:black;
	color:white;
	background:#8c8c8c;
}

hr {
	width: 90%;
}

.subsection{
	transition: all 0.3s ease-in-out;
	padding:0 15px 12px;
	margin:0;
	border-width: 0 5px 0 0;
	border-style: solid;
	border-left-color: rgb(204, 0, 0);
	border-right-color: white;
}

.section_title{
	margin-top:0px;
	margin-bottom:4px;
}

.spacer{
	height:400px;
	display:none;
}

.subsection_title{
	margin:0 0 4px;
}

.subsection_text{
	margin: 0px 20px 0px;
	clear: both;
}